<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Profile</title>
</head>
<body>
<h1>Your Profile</h1>

<p><strong>Name:</strong> <span th:text="${candidate.name} ${candidate.lastname}"></span></p>
<p><strong>Country:</strong> <span th:text="${candidate.country}"></span></p>

<h2>Applied Jobs</h2>
<ul>
  <li th:each="job : ${candidate.appliedJobs}">
    <strong th:text="${job.title}">Job Title</strong><br>
    <p th:text="${job.country}, ${job.city}"></p>
  </li>
</ul>


</body>
</html>
