<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Job Ad</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
<h2>Create Job Ad</h2>
<form th:action="@{/create_job_ad}" method="post" th:object="${jobAd}">
  <label for="position">Position:</label>
  <input type="text" id="position" name="position" required><br>

  <label for="country">Country:</label>
  <input type="text" id="country" name="country" required><br>

  <label for="city">City:</label>
  <input type="text" id="city" name="city" required><br>

  <label for="seniority">Seniority:</label>
  <select name="seniority" id="seniority">
    <option value="INTERN">INTERN</option>
    <option value="JUNIOR">JUNIOR</option>
    <option value="MID_LEVEL">MID_LEVEL</option>
    <option value="SENIOR">SENIOR</option>
    <option value="LEAD">LEAD</option>

  </select><br>

  <label for="mainTechStack">Main Tech Stack:</label>
  <input type="text" id="mainTechStack" name="mainTechStack" required><br>

  <label for="description">Job Description:</label>
  <textarea id="description" name="description"></textarea><br>

  <button type="submit">Create Job Ad</button>
</form>
</body>
</html>