<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dream Work</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
<h1>Welcome to your Dream Work</h1>
<div>
  <a href="/register">Register</a> |
  <a href="/login">Login</a>
</div>

<div class="jobAds">
  <h3>Available Job Ads</h3>
  <ul>
    <li th:each="jobAd : ${jobAds}">
      <span th:text="${jobAd.position}"></span> at <span th:text="${jobAd.companyName}"></span>
      <a th:href="@{/jobads/{id}(id=${jobAd.id})}">View Details</a> |
      <form th:action="@{/jobads/{id}/apply(id=${jobAd.id})}" method="post" style="display:inline;">
        <button type="submit">Apply</button>
      </form>
    </li>
  </ul>

</div>
</body>
</html>