<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recruiter Registration</title>
</head>
<body>
<div>
    <h2 >Recruiter Registration</h2>
    <form th:action="@{/recruiters/register}" th:object="${recruiter}" method="post">
        <div >
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Enter username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" placeholder="Enter password">
        </div>
        <div >
            <label for="name">First Name:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Enter first name">
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" th:field="*{lastname}" id="lastname" placeholder="Enter last name">
        </div>
        <div >
            <label for="companyName">Company Name:</label>
            <input type="text" th:field="*{companyName}" id="companyName" placeholder="Enter company name">
        </div>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>