<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Recruiters</title>
</head>
<body>
<h2>Recruiter List</h2>
<table>
    <thead>
    <tr>
        <th>userId</th>
        <th>Username</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Company Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recruiter : ${recruiters}">
        <td th:text="${recruiter.userId}"></td>
        <td th:text="${recruiter.username}"></td>
        <td th:text="${recruiter.name}"></td>
        <td th:text="${recruiter.lastname}"></td>
        <td th:text="${recruiter.companyName}"></td>
        <td>
            <a th:href="@{/recruiters/details/{useruserId}(userId=${recruiter.userId})}" >Details</a>
            <a th:href="@{/recruiters/update/{userId}(userId=${recruiter.userId})}" >Edit</a>
            <a th:href="@{/recruiters/delete/{userId}(userId=${recruiter.userId})}"
               onclick="return confirm('Are you sure you want to delete this recruiter?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>